html {
	font-size: 18px;
	font-family: 'Bitter', serif;
}

body{
	width: 600px;
	margin: 0 auto;
	#background-color: #4022EB;
	padding: 0 20px 20px 20px;
	border: 5px;
}

h1{
	margin: 0;
	padding: 20px 0;
	color: #4022EB;
	#text-shadow: 3px 3px 1px purple;
}